.logo {
    position: absolute;
    left:0;
    top:0;
    float: left;
    width: 170px;
    height: 50px;
    margin: 10px 15px;
    background-image: url('./logo.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
